body{
    
    
  
    
}
#body1{
    height: 100vh;
    width:100vw;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: antiquewhite;

    


}
.Time{
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    border:2px solid black;
    height:100px;
    width:200px;
    right: 20px;
    top: 20px;
    font-size: large;
    background-color: rgba(153, 50, 204, 0.537);
    
}
#image{
    height:500px;
    margin-top: 200px;
    max-width:fit-content;
}
#image>img{
    height: 100%;
    width:100%;
}


